
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.thermoprozess.de/images/neu/fea-2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>VODD</h3>
          <h4 class="light grey-text text-lighten-3">A Better Project Management for Your Engineering Projects</h4>
        </div>
      </li>
      <li>
        <img src="http://www.mlcairtravels.com/galary/Architect.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Outcome Driven</h3>
        </div>
      </li>
      <li>
        <img src="https://conversation.which.co.uk/wp-content/uploads/2012/03/comments_iStock_000018134779XSmall.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="grey-text text-darken-3">Easy Communication Management</h3>
          <h5 class="light grey-text text-darken-3">All Your Project Documents & Messages at One Place.</h5>
        </div>
      </li>

    </ul>
  </div>

      <br><br>



      <div class="row center">
        <h5 class="header col s12 light">VODD is committed to enhancing the diversity of engineering

management by ensuring its engineering strategies align with and

better utilize the increasing diversity of projects. </h5>

      </div>

      <br><br>


  </div>

  <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      	<div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">group</i></h2>
            <h5 class="center">Customer Focused</h5>

            <p class="light">
              Facilitation of simple yet in-depth management of an engineering

project:
<ul class="light">
<li>- Managing and reporting project performance</li>

<li>- Communicating with customers</li>

<li>- Leading and facilitating projects and programs</li>

<li>- Supporting development of our people</li>

</ul>

            </p>


          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">flash_on</i></h2>
            <h5 class="center">Increased Productivity</h5>

            <p class="light">Increased productivity through Automation, Instant tracking & Sequential documentation of Reports,

Drawings.

Portable across various devices like Mobile, Tablet & PC.

Instant notification on the status/submissions.</p>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">settings</i></h2>
            <h5 class="center">Document Management</h5>

            <p class="light">VODD is dedicated to ensure the quality of engineering management

for all our customers. This Program helps in precise and sequential

documentation. </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
    <div class="row center">
      <a href="<%= new_user_registration_path %>" id="download-button" class="btn-large waves-effect waves-light blue">Create Account</a>
    </div>
