<div class="row">
  <div class="col s12 z-depth-1 card-panel"><br>
		<h5>Editing Activity</h5>

		<%= render 'form' %>

		</br>
	</div>

<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>

</div>
