<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Done:</strong>
  <%= @activity.done %>
</p>

<p>
  <strong>Project:</strong>
  <%= @activity.project %>
</p>
